.registration-form {
  position: relative;

  overflow: hidden;

  width: 100%;
  max-width: 744px;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;
  @media screen and (max-width: 660px) {
    margin: 20px 0;
    padding-top: 55px;
    padding-bottom: 55px;
  }
  @media screen and (max-width: 320px) {
    margin-top: 5px;
  }
  &:before,
  &:after {
    position: absolute;
    z-index: 10;

    display: block;

    width: 100%;
    height: 79px;

    content: '';
    @media screen and (max-width: 660px) {
      height: 55px;
    }
  }
  &:before {
    top: 0;

    background: url(%=static=%assets/registration-form/frame-top.png) no-repeat center;
    @media screen and (max-width: 660px) {
      background-position: top;
    }
  }
  &:after {
    bottom: 0;

    background: url(%=static=%assets/registration-form/frame-bottom.png) no-repeat center;
    @media screen and (max-width: 660px) {
      background-position: bottom;
    }
  }
}

.registration-form-content {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  max-width: 685px;
  margin: auto;
  padding: 10px 40px;

  background-color: #020431;
  @media screen and (max-width: 660px) {
    padding: 0 15px 10px;
  }
  &:before,
  &:after {
    position: absolute;
    top: 0;

    display: block;

    width: 21px;
    height: 100%;

    content: '';

    background: url(%=static=%assets/registration-form/frame-repeat.png) repeat-y;
  }
  &:before {
    left: -17px;

    background: url(%=static=%assets/registration-form/frame-repeat-left.png) repeat-y;
  }
  &:after {
    right: -17px;

    background: url(%=static=%assets/registration-form/frame-repeat-right.png) repeat-y;
  }
  &__title {
    font-family: 'Lato-Black';
    font-size: 34px;

    text-align: center;
    text-transform: uppercase;

    color: #ce5cea;
    @media screen and (max-width: 660px) {
      font-size: 19px;
    }
    @media screen and (max-width: 340px) {
      font-size: 16px;
    }
  }
  &__zodiac {
    margin: 10px auto;

    @include bg($reg-zodiac);
    @media screen and (max-width: 660px) {
      display: none;
    }
  }
  &__access {
    box-sizing: border-box;
    width: 100%;
    max-width: 578px;
    margin: auto;
    padding: 5px 0;

    text-align: center;
    text-transform: uppercase;

    color: #d2e8ff;
    background-color: #172c7d;
    @media screen and (max-width: 660px) {
      font-size: 14px;

      margin-top: 15px;
      padding: 5px 10px;
    }
  }
  &__number {
    font-size: 18px;
    line-height: 21px;

    margin-top: 40px;

    text-align: center;

    color: #fff;
    @media screen and (max-width: 660px) {
      font-size: 16px;
      line-height: 18px;

      margin-top: 20px;

      text-align: center;
    }
  }
  &__label {
    font-family: 'Lato-Black';
    font-size: 23px;

    margin-top: 30px;

    text-align: center;

    color: #96c8ff;
    @media screen and (max-width: 660px) {
      font-size: 18px;

      margin-top: 20px;
    }
  }
  &__field {
    display: block;

    box-sizing: border-box;
    width: 300px;
    height: 40px;
    margin: auto;
    margin-top: 15px;
    padding: 0 10px;
    @media screen and (max-width: 340px) {
      width: 100%;
    }
    &:focus {
      outline: none;
    }
  }
  &__hint {
    font-size: 12px;

    margin-top: 10px;

    text-align: center;

    color: rgba(#fff, .5);
  }
  &__submit {
    font-family: 'Lato-Black';
    font-size: 19px;

    display: block;

    margin: 20px auto 10px;
    padding: 15px 40px;

    transition: all .3s ease-out;
    text-transform: uppercase;

    color: #051353;
    border: 0;
    border-top: 1px solid rgba(#fff, .8);
    border-radius: 40px;
    background-color: #ce5cea;
    box-shadow: 2px 2px 3px #000;
    &:focus {
      outline: none;
    }
    &:hover {
      color: #fff;
      background-color: #ce5cea + #111;
    }
  }
}

.registration-form-content-zodiac {
  display: flex;

  margin: 10px 0;

  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
    position: relative;

    display: block;

    text-decoration: none;
    @media screen and (max-width: 420px) {
      margin: 4px 8px;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;

      visibility: hidden;

      content: '';
      transition: all .2s ease-out;

      opacity: 0;
    }
    &._active {
      &:before {
        visibility: visible;

        opacity: 1;
      }
    }
    &._v1 {
      @include bg($v1);
      &:before {
        @include bg($v1_active);
      }
    }
    &._v2 {
      @include bg($v2);
      &:before {
        @include bg($v2_active);
      }
    }
    &._v3 {
      @include bg($v3);
      &:before {
        @include bg($v3_active);
      }
    }
    &._v4 {
      @include bg($v4);
      &:before {
        @include bg($v4_active);
      }
    }
    &._v5 {
      @include bg($v5);
      &:before {
        @include bg($v5_active);
      }
    }
    &._v6 {
      @include bg($v6);
      &:before {
        @include bg($v6_active);
      }
    }
    &._v7 {
      @include bg($v7);
      &:before {
        @include bg($v7_active);
      }
    }
    &._v8 {
      @include bg($v8);
      &:before {
        @include bg($v8_active);
      }
    }
    &._v9 {
      @include bg($v9);
      &:before {
        @include bg($v9_active);
      }
    }
    &._v10 {
      @include bg($v10);
      &:before {
        @include bg($v10_active);
      }
    }
    &._v11 {
      @include bg($v11);
      &:before {
        @include bg($v11_active);
      }
    }
    &._v12 {
      @include bg($v12);
      &:before {
        @include bg($v12_active);
      }
    }
  }
}
