mixin registration-form(data)
  .registration-form
    .registration-form-content
      .registration-form-content__title Защита личной информации

      .registration-form-content-zodiac
        - for (var i = 1; i < 13; i++)
          a(href="#" title="" class="_v#{i}").registration-form-content-zodiac__item

      .registration-form-content__access Доступ к гороскопу предоставляеться строго персонально!

      .registration-form-content__number Введите Ваш номер телефона, на него в течении 10 секунд  придет пароль для авторизации на сайте

      .registration-form-content__label Ваш реальный номер телефона

      input(type="text" value="").registration-form-content__field 

      .registration-form-content__hint Например: 7999123456789

      input(type="submit" value="Продолжить").registration-form-content__submit

