mixin footer(data)
  footer.footer
    .footer__text Стоимость услуги для абонентов Билайн: 300,00 рублей (включая НДС) раз в 5 дней. Для отмены подписки отправьте СМС-сообщение с текстом СТОП. Для абонентов Билайн - на номер 9105 (бесплатно). Для остальных операторов России требуется отправка 3 смс. Стоимость доступа к услугам контент-провайдера устанавливается Вашим оператором. Подробную информацию можно узнать в разделе «Услуги по коротким номерам» на сайте www.mts.ru или обратившись в контактный центр по телефону 8 800 333 0890 (0890 для абонентов МТС)»