.circle-container {
  position: relative;

  width: 802px;
  height: 803px;
  margin: 50px auto;

  background: url(%=static=%assets/circle/circle-bg.png) no-repeat;
  @media screen and (max-width: 960px) {
    overflow: hidden;

    width: 651px;
    height: 651px;
    margin-top: 50px;

    background-size: cover;
  }
  @media screen and (max-width: 780px) {
    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding: 0 10px;

    text-align: center;

    background: none;

    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 420px) {
    margin-bottom: 30px;
  }
  &__center {
    font-family: 'Lato-Black';
    font-size: 50px;
    line-height: 52px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    max-width: 300px;

    transform: translate(-50%,-50%);
    text-align: center;
    text-transform: uppercase;

    color: #fff;
    @media screen and (max-width: 960px) {
      font-size: 40px;
      line-height: 42px;
    }
    @media screen and (max-width: 780px) {
      font-size: 32px;

      position: relative;
      top: 0;
      left: 0;

      max-width: 100%;
      padding: 30px 0;

      transform: translate(0,0);
    }
    @media screen and (max-width: 420px) {
      font-size: 20px;
      line-height: 1;

      padding: 20px 0;
    }
  }
  &__block {
    @media screen and (max-width: 780px) {
      display: block;
      display: flex;

      width: 25%;
      padding: 25px 0;

      text-decoration: none;

      background: url(%=static=%general/bg_mobile.png) no-repeat;
      background-size: cover;

      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    @media screen and (max-width: 420px) {
      width: 33.333%;
      padding: 10px 0;
    }
    strong {
      font-size: 22px;
      font-weight: normal;

      position: absolute;

      text-align: center;

      color: #fff;
      @media screen and (max-width: 780px) {
        position: inherit;

        width: 100%;
      }
      @media screen and (max-width: 420px) {
        font-size: 18px;
      }
      span {
        font-size: 14px;

        display: block;

        white-space: nowrap;

        color: #add4ff;
        @media screen and (max-width: 420px) {
          font-size: 12px;
        }
      }
    }
    &._item1 {
      strong {
        top: -15px;
        left: 500px;
      }
    }
    &._item2 {
      strong {
        top: 100px;
        left: 685px;
      }
    }
    &._item3 {
      strong {
        top: 290px;
        left: 790px;
      }
    }
    &._item4 {
      strong {
        top: 490px;
        left: 790px;
      }
    }
    &._item5 {
      strong {
        top: 700px;
        left: 663px;
      }
    }
    &._item6 {
      strong {
        top: 800px;
        left: 465px;
      }
    }
    &._item7 {
      strong {
        top: 800px;
        left: 246px;
      }
    }
    &._item8 {
      strong {
        top: 700px;
        left: 40px;
      }
    }
    &._item9 {
      strong {
        top: 500px;
        left: -75px;
      }
    }
    &._item10 {
      strong {
        top: 280px;
        left: -75px;
      }
    }
    &._item11 {
      strong {
        top: 85px;
        left: 25px;
      }
    }
    &._item12 {
      strong {
        top: -15px;
        left: 230px;
      }
    }
  }
  &__item {
    position: absolute;

    transition: all .3s ease-out;
    text-decoration: none;

    opacity: 0;
    @media screen and (max-width: 780px) {
      position: relative;
      top: 0 !important;
      left: 0 !important;

      display: block;

      margin: 0 auto 15px;

      opacity: 1;
    }
    @media screen and (max-width: 420px) {
      margin-bottom: 0;
    }
    &:hover {
      opacity: 1;
    }
    &._item1 {
      top: 55px;
      left: 430px;

      @include bg($img1_desktop);
      @media screen and (max-width: 960px) {
        top: 45px;
        left: 350px;

        @include bg($img1_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img1_mobile_an);
      }
    }
    &._item2 {
      top: 145px;
      left: 565px;

      @include bg($img2_desktop);
      @media screen and (max-width: 960px) {
        top: 115px;
        left: 460px;

        @include bg($img2_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img2_mobile_an);
      }
    }
    &._item3 {
      top: 281px;
      left: 668px;

      @include bg($img3_desktop);
      @media screen and (max-width: 960px) {
        top: 227px;
        left: 543px;

        @include bg($img3_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img3_mobile_an);
      }
    }
    &._item4 {
      top: 450px;
      left: 649px;

      @include bg($img4_desktop);
      @media screen and (max-width: 960px) {
        top: 365px;
        left: 526px;

        @include bg($img4_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img4_mobile_an);
      }
    }
    &._item5 {
      top: 580px;
      left: 563px;

      @include bg($img5_desktop);
      @media screen and (max-width: 960px) {
        top: 469px;
        left: 456px;

        @include bg($img5_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img5_mobile_an);
      }
    }
    &._item6 {
      top: 670px;
      left: 425px;

      @include bg($img6_desktop);
      @media screen and (max-width: 960px) {
        top: 540px;
        left: 346px;

        @include bg($img6_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img6_mobile_an);
      }
    }
    &._item7 {
      top: 669px;
      left: 276px;

      @include bg($img7_desktop);
      @media screen and (max-width: 960px) {
        top: 541px;
        left: 226px;

        @include bg($img7_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img7_mobile_an);
      }
    }
    &._item8 {
      top: 586px;
      left: 131px;

      @include bg($img8_desktop);
      @media screen and (max-width: 960px) {
        top: 477px;
        left: 106px;

        @include bg($img8_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img8_mobile_an);
      }
    }
    &._item9 {
      top: 453px;
      left: 35px;

      @include bg($img9_desktop);
      @media screen and (max-width: 960px) {
        top: 367px;
        left: 28px;

        @include bg($img9_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img9_mobile_an);
      }
    }
    &._item10 {
      top: 280px;
      left: 48px;

      @include bg($img10_desktop);
      @media screen and (max-width: 960px) {
        top: 227px;
        left: 40px;

        @include bg($img10_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img10_mobile_an);
      }
    }
    &._item11 {
      top: 155px;
      left: 132px;

      @include bg($img11_desktop);
      @media screen and (max-width: 960px) {
        top: 125px;
        left: 106px;

        @include bg($img11_tablet);
      }
      @media screen and (max-width: 780px) {
        margin-bottom: 15px;

        @include bg($img11_mobile_an);
      }
    }
    &._item12 {
      top: 55px;
      left: 277px;

      @include bg($img12_desktop);
      @media screen and (max-width: 960px) {
        top: 45px;
        left: 226px;

        @include bg($img12_tablet);
      }
      @media screen and (max-width: 780px) {
        @include bg($img12_mobile_an);
      }
    }
  }
}
